#front-page {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 15px;
}

.f2f {
    display: flex;
    padding-bottom: 15px;
}

.f2f-left,
.f2f-right {
    width: 40%;
}

.f2f-center {
    width: 20%;
    border-left: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
}

.f2f-left,
.f2f-center,
.f2f-right {
    padding: 0 15px;
    height: 100%;
}

.f2f img {
    width: 100%;
}

.f2f-right-section:first-child {
    border-bottom: solid 1px #e7e7e7;
    padding: 0 0 15px 0;
}

.f2f-right-section:first-child .section {
    margin-top: 0;
}

.f2f h2 {
    margin: 15px 0;
    font-family: 'Noe Display', serif;
    font-weight: normal;
    line-height: 1em;
}

.f2f a:not(.read-more) {
    color: #000000;
    text-decoration: none;
}

.f2f-right-section h2 {
    font-size: 32px;
    margin: 0;
}

.f2f-right-secton h2 a {
    color: black;
    text-decoration: none;
    transition: color 0.2s;
}

.f2f h2 a:hover {
    color: #800000;
    transition: color 0.2s;
}

.f2f-left h2 {
    font-size: 38px;
    margin-top: 0;
}

.section {
    font-family: 'PT Serif', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin: 15px 0;
    color: gray;
}

.excerpt {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    color: gray;
}

.f2f-right-section:first-child .excerpt {
    margin-bottom: 0;
}

@media all and (orientation: portrait) {
    .f2f {
        display: block;
    }
    .f2f-left,
    .f2f-center,
    .f2f-right {
        width: 100%;
        padding: 0;
    }
    
    .f2f-center {
        border: 0;
    }

    .f2f-left,
    .f2f-center,
    .f2f {
        margin-bottom: 15px;
        border-bottom: solid 1px #e7e7e7;
    }

    #front-page {
        padding: 15px;
    }
}

.big-header .menu-icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
	transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
}

.big-header .menu-icon:hover span {
	-webkit-transform: translateX(35px);
	transform: translateX(35px);
}

.big-header .hamburger-wrap {
	width: 24px;
	height: 24px;
	-webkit-transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
	transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
}

.big-header .hamburger-wrap span {
	width: 18px;
	height: 2px;
	display: block;
	margin-top: 3px;
	background-color: #FFF;
	-webkit-transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
	transition: all 0.4s cubic-bezier(0.97, 0, 0.395, 0.97);
}

.big-header .hamburger-wrap span:nth-of-type(1) {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.big-header .hamburger-wrap span:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.big-header .hamburger-wrap span:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.big-header .hamburger-wrap span:before {
	width: 18px;
	height: 2px;
	margin-top: 3px;
	display: block;
	content: '';
	background-color: #FFF;
	-webkit-transform: translateX(-35px);
	transform: translateX(-35px);
}

.big-header {
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.big-header .big-header-navigation {
    display: flex;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    height: 50px;
}

.big-header .big-header-navigation #menu-toggle,
.big-header .big-header-navigation #search-button .fa-search {
    padding: 0 15px;
}

.big-header .big-header-navigation #menu-toggle,
.big-header .big-header-navigation #search-button {
    width: calc(calc(100% - 250px) / 2);
}

.big-header .big-header-navigation #menu-toggle {
    margin-bottom: -9px;
}

.big-header .big-header-navigation img {
    width: 250px;
}

.big-header .big-header-navigation #search-button {
    color: white;
    text-align: right;
}

.big-header .big-header-navigation #search-button .fa-search {
    cursor: pointer;
}

.big-header .big-header-logo {
    display: inherit;
    margin-bottom: -3px;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: black;
    opacity: 0.3;
    display: none;
    cursor: pointer;
}

.big-header .big-header-info a,
.big-header .big-header-info p {
    color: white;
    text-decoration: none;
}

.big-header .big-header-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
}

.big-header .big-header-info .big-title {
    font-family: 'Noe Display', serif;
    font-size: 42px;
    line-height: 1em;
}

.big-header .big-header-info .fa-chevron-down {
    display: block;
    color: white;
}

.big-header .big-header-info .big-more {
    font-family: 'PT Sans', sans-serif;
    color: white;
    display: block;
    padding-top: 35px;
}

.grid {
    display: flex;
    width: 100%;
    border-bottom: solid 1px #e7e7e7;
    padding: 15px 0;
}

.grid .post-item {
    padding: 15px 15px 12px 15px;
    width: 25%;
    border-right: solid 1px #e7e7e7;
}

.grid .post-item:last-child {
    border: 0;
}

.grid .post-item .post-image img {
    width: 100%;
    height: auto;
}

.grid .post-item .post-title h2 {
    margin: 15px 0 0 0;
    font-family: 'Noe Display', serif;
    font-weight: normal;
    font-size: 24px;
}

.grid .post-item .post-title h2 a {
    color: black;
    text-decoration: none;
    transition: color 0.2s;
}

.grid .post-item .post-title h2 a:hover {
    color: #800000;
    transition: color 0.2s;
}

#news-grid-mobile {
    display: none;
}

@media all and (orientation: portrait) {
    #news-grid-mobile {
        display: flex;
    }
    #news-grid-mobile .post-item {
        width: 50%;
    }
    #news-grid .post-item {
        width: 50%;
    }
    #news-grid .post-item:nth-last-child(2),
    #news-grid .post-item:last-child {
        display: none;
    }
    #news-grid .post-item:nth-child(2) {
        border-right: 0;
    }
    #news-grid .post-item {
        border-bottom: solid 1px #e7e7e7;
    }
    #news-grid {
        border-bottom: 0;
    }
}

/* ONE-THREE POSTS */
.one3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 15px 0;
}

.one3-image img {
    width: 100%;
}

.one3 .one3-image-title {
    background-color: #800000;
    margin: 0;
    padding: 15px;
    color: white;
    font-family: 'Noe Display', serif;
    font-weight: normal;
}

.one3 > a {
    text-decoration: none;
}

.one3-post {
    background-color: #800000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.one3 img {
    width: 100%;
}

.one3-post h2 {
    margin: 0;
    color: white;
    font-family: 'Noe Display', serif;
    font-weight: normal;
    max-width: 70%;
}

.one3-post p,
.one3-post p:hover {
    margin: 0;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: none;
}

@media all and (orientation: portrait) {
    .one3 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 0.35fr);
        grid-row-gap: 10px;
    }
    .one3-post {
        background: <?php echo $bg_color; ?>!important;
    }
    .one3 .one3-post h2 {
        max-width: 100%;
    }
    .one3-post:first-child {
        grid-area: 2 / 1 / 3 / 2!important;
    }

    .one3-post:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2!important;
    }

    .one3-post:last-child {
        grid-area: 4 / 1 / 5 / 2!important;
    }

    .one3-image {
        grid-area: 1 / 1 / 2 / 2!important;
    }
}
.one3-right.one3-post:first-child {
    grid-area: 1 / 1 / 2 / 2;
}

.one3-right.one3-post:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.one3-right.one3-post:last-child {
    grid-area: 3 / 1 / 4 / 2;
}

.one3-right.one3-image {
    grid-area: 1 / 2 / 4 / 3;
}
.one3-left.one3-post:first-child {
    grid-area: 1 / 2 / 2 / 3;
}

.one3-left.one3-post:nth-child(2) {
    grid-area: 2 / 2 / 3 / 3;
}

.one3-left.one3-post:last-child {
    grid-area: 3 / 2 / 4 / 3;
}

.one3-left.one3-image {
    grid-area: 1 / 1 / 4 / 2;
}
/* END ONE-THREE POSTS */

/* FOUR POSTS */
/* .four {
    display: flex;
    padding-bottom: 15px;
} */

.four {
    margin: 15px 0;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.four .four-post {
    background-color: #800000;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.four .four-post img {
    width: 100%;
}

.four .four-post .four-post-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
}

.four .four-post .four-post-bottom p {
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    box-shadow: none;
}

.four .four-post .four-post-bottom h2 {
    font-family: 'Noe Display', serif;
    font-weight: normal;
    margin: 0 0 30px 0;
}

@media all and (orientation: portrait) {
    .four {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* END FOUR POSTS */
/* HEADER */
.header {
    margin: 15px 0;
    padding: 15px;
}

.header h2 {
    margin: 0;
    color: white;
    font-family: 'Noe Display', serif;
    font-weight: normal;
    line-height: 1em;
    font-size: 32px;
    margin-bottom: -5px;
}

.header img {
    max-width: 40%;
}

@media all and (orientation: portrait) {
    .header img {
        max-width: none;
        width: 75%;
        display: block;
        margin: 0 auto;
    }
}
/* END HEADER */

#front-page > *:not(.full-width),
#front-page .contain {
    max-width: 1140px;
    margin: 0 auto;
}

.top-story {
    background-color: #800000;
}

.top-story-inner {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    align-items: end;
}

.top-story-inner.top-align {
    align-items: start;
}

.top-story a {
    color: white;
    text-decoration: none;
}

.top-story-headline {
    grid-area: 1 / 1 / 2 / 5;
    border-bottom: solid 1px white;
    padding-bottom: 27px;
}
.top-story-headline h2 {
    font-family: 'Noe Display', serif;
    font-weight: normal;
    font-size: 38px;
    margin: 0 0 15px 0;
}
.top-story-headline span {
    font-family: 'PT Sans', sans-serif;
}
.top-story-inner.top-align .top-story-headline {
    border-bottom: none;
    border-top: solid 1px white;
    padding-top: 27px;
}

.top-story-image {
    grid-area: 1 / 5 / 2 / 11;
}

.top-story-image img {
    width: 100%;
}

.top-story.left .top-story-image {
    grid-area: 1 / 1 / 2 / 7;
}

.top-story.left .top-story-headline {
    grid-area: 1 / 7 / 2 / 11;
}

@media all and (orientation: portrait) {
    .top-story-inner {
        display: block;
        padding: 15px;
    }
    .top-story-headline {
        border-top: none!important;
        border-bottom: none!important;
        padding-top: 0!important;
    }
}

.five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    padding: 30px 0;
}

.five img {
    width: 100%;
}

.five a {
    text-decoration: none;
    color: black;
    border-bottom: solid 1px gray;
}

.five .five-post p {
    box-shadow: none!important;
    font-family: 'PT Serif', serif;
    line-height: 1.25em;
    font-size: 16px;
}

.five .five-post {
    padding-bottom: 20px;
}

.five .five-post a {
    color: black;
    text-decoration: none;
}
.five .five-post h2 {
    font-family: 'Noe Display', serif;
    font-weight: normal;
}

.five .five-post h2:last-of-type {
    margin-bottom: 0;
}

@media all and (orientation: portrait) {
    .five {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 15px;
        padding: 15px;
    }
    .five-post {
        padding-bottom: 0!important;
    }
    .five a:first-child {
        grid-area: 1 / 1 / 2 / 2;
    }
    .five a:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
    }
    .five a:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
    }
    .five a:nth-child(4) {
        grid-area: 2 / 2 / 3 / 3;
    }
    .five a:nth-child(5) {
        grid-area: 3 / 1 / 4 / 3;
    }
}