.min-top-story {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    align-items: center;
}

.min-top-story img {
    width: 100%;
}

.min-top-story-left,
.min-top-story-right {
    color: black;
    text-decoration: none;
}

.min-top-story-left {
    grid-area: 1 / 1 / 2 / 2;
    grid-area: 1 / 3 / 2 / 4;
}

.min-top-story-right {
    grid-area: 1 / 2 / 2 / 4;
    grid-area: 1 / 1 / 2 / 3;
}

.min-headline {
    font-family: 'Noe Display', serif;
    font-weight: normal;
    font-size: 32px;
    margin: 15px 0;
}

.min-section {
    font-family: 'PT Serif', serif;
    color: gray;
    text-transform: uppercase;
    font-size: 13px;
}

.min-excerpt {
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 17px;
}