nav {
    height: 51px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-bottom: solid 1px #e7e7e7;

    position: sticky;
    top: 0;
    transition: all 0.5s;
}

span {
    font-family: 'Comic Sans MS', serif;
    font-size: 24px;
}

main {
    margin: 30px 0;
}

main > p {
    font-family: 'PT Serif', serif;
    max-width: 600px;
    margin: 15px auto;
    line-height: 1.75em;
}

img.wide {
    max-width: 800px;
    margin: 30px auto;
    display: block;
}

img.wider {
    max-width: 1140px;
    margin: 30px auto;
    display: block;
}

img.full {
    width: 100vw;
    margin: 30px auto;
    display: block;
}

img.center {
    max-width: 600px;
    margin: 30px auto;
    display: block;
}

.recommended-outer {
    display: none;
}

.recommended {
    position: fixed;
    width: calc(540px - 300px);
    height: calc(100% - 104px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: calc((100% - 1140px) / 2);
}

.recommended-posts {
    max-width: 275px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.recommended-posts .recommended-post {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    align-items: center;
}

.recommended-posts .recommended-post img {
    display: block;
}

.recommended-posts h3 {
    margin: 0;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 16px;
}

@media all and (max-width: 1140px) {
    .recommended {
        display: none;
    }
}